# Eclipse
.classpath
.project
.settings/
.log
# Intellij
*/.idea/*
.idea/*
*/.idea
*/history/
*/target/
*.iml
*.iws
# Mac
.DS_Store
# Maven
log/
/target/*
/bin/*
# Gradle
*/.gradle/*
.gradle/*
*/.gradle
*/build/
*/out/*
*.bin
*.lock
#ignore los .exe
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
#ignorar carpeta build
*/build/*
*/.metadata/
#ignorar los .sonar
.sonarlint
#Archivo datos de Ingreso
src/test/resources/datadriven/DataLogin.xlsx
build
.idea
.gradle
history
target
